body{
    background-color: #432f3f;
}
h1{
    text-align: center;
    font-size:2.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    color: #b8797c;
    
    }
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin:30px;
    color: #b8797c;
}
.textbold{
    font-family: Arial, Helvetica, sans-serif;
   
    font-size: 1.3em;
    line-height: 17px;
    color:#b8797c;
}
nav{
    background-color:#fcab9d ;
    height: 100;
    margin:-10px;
}
.textfooter{
    font-size: 1em;
   color:#432f3f
}

nav ul {
   justify-content: space-around;
   display: flex;
   flex-wrap: wrap;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color:#fcab9d;
}

ul li a{
    color:#432f3f ;
    text-decoration: none;
}
li a:hover{
    color: rgb(0, 0, 0);
}
ul li{
    justify-content: center;
    text-align: center;
    display: inline-block;
    width: 261px;
    height: 41px;
    background: #AB6969;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    
}
nav ul li a{
    position: relative;
    color: #fcab9d ;
    text-decoration: none;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 25px;
}
footer{
    background:#fcab9d ;
    color:#432f3f;
    height: 50px;
    position: relative;
    text-align: center;
    align-items: center;
    margin:-10px;
    padding: 10px;
}
.contenedorfoto-texto{
    margin: 70px;
    display: flex;
    position: relative;
    height: 670px;
    justify-content: space-around;
    font-size: larger;
    flex-wrap: wrap;
}
.contenedorfoto{
    border-radius:160px;
    width: 240px;
    height: 240px;
    position: relative;
    }
.contenedortexto{
    width:800px;
    height:200px;
    padding:50px;
    
    }
